<div class="content__order box order">
  <div class="order__top">
    <h1 class="order__title">Заполните форму,<br>чтобы оформить заказ</h1>
    <p class="order__description">Забронируйте курсы со&nbsp;скидкой, а&nbsp;мы&nbsp;перезвоним, проконсультируем
      и&nbsp;оформим заказ.</p>
  </div>
  <div class="order__bottom">
    <h2 class="order__bottom-title">Итоговая стоимость</h2>
    <div class="price">
      <span class="price-xs price__before">000 000 ₽</span>
      <span class="price__final">0 000 <sup class="price__sub">₽/мес.</sup></span>
      <span class="price__part">Рассрочка на&nbsp;NN месяцев</span>
      <span class="sale">–00%</span>
    </div>
  </div>
</div>